{% load static %}

<!DOCTYPE html>
<html>

<head>
    <link rel="apple-touch-icon" sizes="57x57" href="{% static " /apple-icon-57x57.png " %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static " /apple-icon-60x60.png " %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static " /apple-icon-72x72.png " %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static " /apple-icon-76x76.png " %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static " /apple-icon-114x114.png " %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static " /apple-icon-120x120.png " %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static " /apple-icon-144x144.png " %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static " /apple-icon-152x152.png " %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static " /apple-icon-180x180.png " %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static " /android-icon-192x192.png " %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static " /favicon-32x32.png " %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static " /favicon-96x96.png " %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static " /favicon-16x16.png " %}">
    <link rel="manifest" href="{% static " /manifest.json " %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static " /ms-icon-144x144.png " %}">
    <meta name="theme-color" content="#ffffff">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Become a Member | HackTomorrow</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static " pages/css/register-main.css " %}" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
</head>

<body id="the-body">
    <div class="login-page">
        <div class="form">
            <form class="register-form">
                <h2>Become a Member</h2>
                <input type="text" placeholder="full name" required/>
                <input type="text" placeholder="username" required/>
                <input type="email" placeholder="email address" required/>
                <input type="password" placeholder="password" required/>
                <button type="submit">create</button>
                <p class="message">Already a Member?
                    <a href="/login">Sign In</a>
                </p>
            </form>
        </div>
    </div>
</body>

</html>